<h1>{{product.title}}</h1>
<p>{{product.price}}</p>
<div>
    {{product.description}}
</div>

{% form "product", product %}
    <select name="id">
        {% for variant in product.variants%}
            <option value={{variant.id}}>{{variant.title}}</option>
        {% endfor %}
    </select>

    <button type="submit">{{ "General.add_to_cart" | t }}</button>
{% endform %}

